/* ---------- Reset ---------- */
* {
    margin: 0;
}

/* ---------- Navigation ---------- */
nav {
    border-bottom: solid 1px black;
}
nav ul > li{
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
}

nav ul > li > a {
    text-align: center;

}

nav ul > li:nth-child(3) {
    float: right;
}

/* ---------- Calendar ---------- */
#calendar {
    width: 66%; /* with stats */
    /*width: 100%;*/ /* without status */
    padding: 10px;
    border-right: solid 1px black;
    box-sizing: border-box;
    float: left;
}

table.calendar-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.calendar-table td {
    border: 1px solid;
    padding: 5px 5px 35px;
}


/* ---------- Attendance Stats ---------- */
#attendanceStats {
    width: 33%;
    margin: 10px auto;
    box-sizing: border-box;
    float: right;
}


/* ---------- Employee Form ---------- */
#newEmployeeForm, #calendarDay {
    clear: both;
    position: absolute;
    border: solid 1px black;
    background: #eee;
    width: 100%;
    padding: 10px;
}

#newEmployeeForm label {
    display:block;

}

#newEmployeeForm h4 {
    margin: 15px 0 5px;
}

button: {
    display: block;
}

/* ---------- Day Edit Form ----------*/
/*#status, #excused {
    display: inline-block;
}*/

p.clockInOut {
    margin-top: 10px;
}

/* ---------- Close / Hide ---------- */
.close {
    float: right;
    height: 32px;
    width: 32px;
    display: block;
}

.hide {
    display: none;
}

.red {
    background: red;
}

/* ---------- Status Colors ---------- */
.present {
    background: #A5FFBB;
}

.late, .earlyLeave {
    background: #ffb;
    color: red;
}

.late.excused, .earlyLeave.excused {
    background: #ffb;
    color: #000;
}

.absent {
    background: #FFA7A7;
}

.absent.excused {
    background: #FFDE9C;
}

.dayOff {
    background: #ddd;
}

.requestOff {
    background: #D9E9FD;
}

.beforeStart {
    background: #888;
}
